body{
    font-family: 'Geologica', sans-serif !important;
    /* display: flex;
    flex-direction: column;
    justify-content: space-between; */
    min-height: 100vh;
}

h1{
    font-weight: 900;
}

.container-card{
    margin-block: 100px;
    -webkit-box-shadow: -9px 7px 21px 4px rgba(0,0,0,0.21);
    -moz-box-shadow: -9px 7px 21px 4px rgba(0,0,0,0.21);
    box-shadow: -9px 7px 21px 4px rgba(0,0,0,0.21);

}

.bg-gray-primary{
    background-color: #138D75;
}

.container-card .column-left{
    padding-block: 60px;
}

.container-card .column-right{
    padding-block: 60px;
    padding-inline: 60px;
}

.container-card .column-left i{
    font-size: 150px;
}

.content-buttons-menu{
    display: none;
}

.card-register{
    width: 350px;
    height: auto;
    -webkit-box-shadow: -9px 7px 21px 4px rgba(0,0,0,0.21);
    -moz-box-shadow: -9px 7px 21px 4px rgba(0,0,0,0.21);
    box-shadow: -9px 7px 21px 4px rgba(0,0,0,0.21);
    padding-block: 10px;
    margin-block-start: 100px;
}

/*-------- MENU MOBILE ----------*/


.mobile-container {
    max-width: 480px;
    margin: auto;
    background-color: #555;
    height: 500px;
    color: white;
    border-radius: 10px;
  }
  
  .topnav {
    overflow: hidden;
    background-color: #333;
    position: relative;
  }
  
  .topnav #myLinks {
    display: none;
  }
  
  .topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }
  
  .topnav a.icon {
    background: black;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .active {
    background-color: #04AA6D;
    color: white;
  }

  /*-------- TABLE USERS ----------*/

  .container-table{
    padding-block: 80px;
  }

  /*-------- FOOTER ----------*/

  html, body {
    height: 100%;
  }
  
  .wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
  }
  
  main {
    flex: 1;
  }
  
  footer {
    flex-shrink: 0;
  }